/* - FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30
             / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* - SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 
            / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER SECTION */

.container {
  width: 960px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #343a40;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  align-items: center;
  margin-top: 6.4rem;
  margin-bottom: 8rem;
}

.pre-heading {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #1864ab;
  margin-bottom: 1.2rem;
}

.heading-primary {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.heading-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background-color: #228be6;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 1000px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1c7ed6;
}

.header-img {
  width: 100%;
  border-radius: 9px;
}

/* FEATURES SECTION */

.heading-secondary {
  font-weight: 600;
  font-size: 3.6rem;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 8rem;
}
.features-icon {
  width: 3.6rem;
  height: 3.6rem;
  padding: 1.2rem 3.2rem;
  margin-bottom: 1.2rem;
}

ion-icon {
  color: #1c7ed6;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-heading {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.features-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}
